# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pyc

# Credentials
Credentials

# Sphinx doc build
docs/build/**

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
report.xml

# Terraform .terraform directories
**/.terraform/**

# Terraform .tfstate files
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Terraform crash log files
crash.log
crash.*.log

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Covers JetBrains IDEs: PyCharm
.idea/**
.idea